{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/memories/memory-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="memory-container">
  <div class="memory-img">
    <img 
      src="https://media.discordapp.net/attachments/847150391358390282/1171788385111769108/Untitled-1.png?ex=655df3f9&is=654b7ef9&hm=5b60614f08b1aaaa97f6d7e2336aa1f3931ac6e8f10852ba6723b5b38ca1d7a0&=&width=150&height=150" 
      alt="A skater boy memory"
    >
  </div>
  <div class="memory-details">
    <h1>{{ memory.title }}</h1>
    <p>{{ memory.details }}</p>

    {% comment %} Conditional Rendering {% endcomment %}
    {% if user.id == memory.user.id %}
      <div class="memory-actions">
        <a href="{% url 'memory-update' memory.id %}" class="btn warn">Edit</a>
        <a href="{% url 'memory-delete' memory.id %}" class="btn danger">Delete</a>
      </div>
    {% endif %}

  </div>

</section>

{% endblock %}