{% extends 'base.html' %}

{% block content %}

<h1>About the Bao Memory</h1>
<hr />
<p class="page-content">

  I'm so grateful for the amazing experience I've had at coding Bootcamp. Not only have I learned so much about programming, but I've also made some incredible friends along the way. We've shared so many laughs and good times together, and I'll cherish these memories forever. I'm so proud of everything we've accomplished, and I can't wait to see what the future holds for us. This app is a small token of my appreciation for all of you. I hope you'll enjoy it and use it to remember all our fond memories together.</p>

{% endblock %}