
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% comment %} <link
    rel="shortcut icon"
    type="image/png"
    href="https://images.app.goo.gl/vuj4pgx6bFJe3RzA7"
  > {% endcomment %}
  <link
  rel="shortcut icon"
  type="image/png"
  href="https://cdn.discordapp.com/attachments/847150391358390282/1171786831151505408/image.png?ex=655df287&is=654b7d87&hm=e95232d4f12eaa82131e27dac58cc9713e3ead88e288d11ce6e158aa45891c98&"
>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <title>BAO MEMORY</title>

  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <div class="header-logo-container">
      <a href="/">
        <img 
          {% comment %} src="{% static 'images/header-logo.svg' %}" {% endcomment %}
          src="https://media.discordapp.net/attachments/847150391358390282/1171788383928983632/add_a_memorie.png?ex=655df3f9&is=654b7ef9&hm=369f45b5e31623753b4414c1fca170192fd026ee447f25bb9ff5b45403c000db&=&width=150&height=120"
          alt="The Bao-Memories Collector Logo"
        >
      </a>
    </div>
    <nav>
      <ul>
        {% if user.is_authenticated %}
          <li><a href="{% url 'memory-index' %}">All Memories</a></li>
          <li><a href="{% url 'memory-create' %}">Add a Memory</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'logout' %}">Log out</a></li>
        {% else %}
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'home' %}">Login</a></li>
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>